.rodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
    background: linear-gradient(to right bottom, #92ff55, #82fa50, #70f54a, #5cef45, #44ea41, #36db39, #27cc32, #13be2a, #16a31e, #148912, #106f07, #0b5700);
}

.rodape .img-rodape {
    width: 32px;
}

.rodape-imgs-center {
    width: 126px;
}

.rodape-imgs-left {
    display: flex;
    gap: 12px;
}



.rodape h4 {
    color: aliceblue;
}