.sectionForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 600px;
    padding: 8px 8px;
    margin: 0;
    position: relative;
    background: linear-gradient(to bottom, #999999, #858585, #727272, #606060, #4e4e4e, #4e4e4e, #4e4e4e, #4e4e4e, #606060, #727272, #858585, #999999);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    background-color: rgb(175, 175, 175);
    padding: 24px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 4px 4px 10px #8D173A;
}

.buttonToggle {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
