.campo {
    width: 100%;
    padding: 12px 8px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 80%;
    border-radius: 16px;
    border-style: none;
    outline: none; /*tirar a borda laranja do input de pesquisa ao clicar */
    padding: 12px;
    color: #8D173A;
}
