.grupos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grupos h2 {
    padding-bottom: 8px;
    border-bottom: 2px solid;
}

.input-color {
    position: absolute;
    width: 62px;
    height: 46px;
    top: 10px;
    right: 10px;
}

.cardsPLayers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 10px;
    width: 100%;
}